{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstore</title>
    <link rel="stylesheet" href="./styles/index.css" />
    <link rel="stylesheet" href="./styles/checkbox.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <h1>Bookstore</h1><h2>Добавить книгу</h2>
    <form action="{% url 'add-book' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Название книги"><br><br>
        <input type="text" name="subtitle" placeholder="Подзаголовок"><br><br>
        <input type="text" name="description" placeholder="Описание"><br><br>
        <input type="number" name="price" placeholder="Цена"><br><br>
        <input type="text" name="genre" placeholder="Жанр"><br><br>
        <input type="text" name="author" placeholder="Автор"><br><br>
        <input type="datetime-local" name="date" placeholder="Год"><br><br>
        <button>Добавить</button>
    </form>

    {% for book in books %}
        <div>
            Название:<h3>{{ book.title }}</h3>автор:{{ book.author }}
            <h4>{{ book.date}} - {{ book.price }} сом</h4>
            <hr>
        </div>
    {% endfor %}


</body>

</html>