<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO-LIST</title>
    <link rel="stylesheet" href="./styles/index.css">
    <link rel="stylesheet" href="./styles/checkbox.css">
</head>

<body>
    <section>

        <div class="create_container">
            <input class="create_input" type="text">
            <button class="create_button">Добавить</button>
            <input class="search_input" type="text">
            <button class="create_button">Найти</button>
        </div>

        <div class="todo_container">

        <div class="todo_item">
                <div class="todo_item_header">
                    <label class="container">
                        <input type="checkbox" />
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo_item_footer">
                <p>19.01.2021<span>20:35</span></p>
                <div class="action_buttons">
                    <img src="./icons/star_y.png" />
                    <img src="./icons/bin.png" />
                </div>
            </div>
        </div>
        
        <div class="todo_item_done">
            <div class="todo_item_header">
                <label class="container">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                </label>
                <h4>Купить молоко</h4>
            </div>
            <div class="todo_item_footer">
            <p>19.01.2021<span>20:35</span></p>
            <div class="action_buttons">
                <img src="./icons/star_t.png" />
                <img src="./icons/bin.png" />
            </div>
        </div>
        </div>

        <div class="todo_item_marked">
            <div class="todo_item_header">
                <label class="container">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                </label>
                <h4>Купить молоко</h4>
            </div>
            <div class="todo_item_footer">
            <p>19.01.2021<span>20:35</span></p>
            <div class="action_buttons">
                <img src="./icons/star_y.png" />
                <img src="./icons/bin.png" />
            </div>
        </div>
        </div>

        <div class="todo_item">
            <div class="todo_item_header">
                <label class="container">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                </label>
                <h4>Купить молоко</h4>
            </div>
            <div class="todo_item_footer">
            <p>19.01.2021<span>20:35</span></p>
            <div class="action_buttons">
                <img src="./icons/star_y.png" />
                <img src="./icons/bin.png" />
            </div>
        </div>
        </div>

        <div class="todo_item_marked">
            <div class="todo_item_header">
                <label class="container">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                </label>
                <h4>Купить молоко</h4>
            </div>
            <div class="todo_item_footer">
            <p>19.01.2021<span>20:35</span></p>
            <div class="action_buttons">
                <img src="./icons/star_y.png" />
                <img src="./icons/bin.png" />
            </div>
        </div>
        </div>

        <div class="todo_item_marked">
            <div class="todo_item_header">
                <label class="container">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                </label>
                <h4>Купить молоко</h4>
            </div>
            <div class="todo_item_footer">
            <p>19.01.2021<span>20:35</span></p>
            <div class="action_buttons">
                <img src="./icons/star_y.png" />
                <img src="./icons/bin.png" />
            </div>
        </div>
        </div>
        
        <div class="todo_item_done">
            <div class="todo_item_header">
                <label class="container">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                </label>
                <h4>Купить молоко</h4>
            </div>
            <div class="todo_item_footer">
            <p>19.01.2021<span>20:35</span></p>
            <div class="action_buttons">
                <img src="./icons/star_t.png" />
                <img src="./icons/bin.png" />
            </div>
        </div>
        </div>


    </section>
</body>

</html>