<!DOCTYPE html>
<html lang="ru-ru">
<head>
    <link rel="stylesheet" href="укажите путь и название">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST.HTML</title>
</head>
<body>
    <h2>Это тестовая страница</h2>
    <p>Версия 2</p>
    {{ todo_list }}<br>

    <!-- Шаблонизатор jinja позволяет писать код Django на странице HTML -->
    {% for todo in todo_list %}
        <h3>{{ todo.text }}</h3> - {{ todo.created_at }} - {{ todo.is_closed }} - {{ todo.is_favorite }}

    {% endfor %}

</body>
</html>